In [54]:
from iexfinance.stocks import Stock
from iexfinance.stocks import get_collections
import pandas as pd
import requests
from pprint import pprint

In [58]:
my_token="sk_2afcc445474847eb89769bca333e012f"
aapl = Stock('AAPL', output_format='pandas', token=my_token)
balance_sheet = aapl.get_balance_sheet(last=4,period="annual")
balance_sheet

,accountsPayable,capitalSurplus,commonStock,currency,currentAssets,currentCash,currentLongTermDebt,filingType,fiscalDate,fiscalQuarter,...,symbol,totalAssets,totalCurrentLiabilities,totalLiabilities,treasuryStock,id,key,subkey,date,updated
2020-10-30,42296000000,None,17352119000,USD,143713000000,90943000000,13769000000,10-K,2020-09-26,0,...,AAPL,323888000000,105392000000,258549000000,0,BALANCE_SHEET,AAPL,annual,1601078400000,1611841737000
2019-10-31,46236000000,None,18471336000,USD,162819000000,100557000000,16240000000,10-K,2019-09-28,0,...,AAPL,338516000000,105718000000,248028000000,0,BALANCE_SHEET,AAPL,annual,1569628800000,1611841737000
2018-11-05,55888000000,None,19821508000,USD,131339000000,66301000000,20748000000,10-K,2018-09-29,0,...,AAPL,365725000000,116866000000,258578000000,0,BALANCE_SHEET,AAPL,annual,1538179200000,1611841737000
2017-11-03,49049000000,None,20868968000,USD,128645000000,74181000000,18473000000,10-K,2017-09-30,0,...,AAPL,375319000000,100814000000,241272000000,0,BALANCE_SHEET,AAPL,annual,1506729600000,1611841737000

In [46]:
book_value = balance_sheet["totalAssets"][0] - balance_sheet["totalLiabilities"][0]
print(type(balance_sheet))
#print(f"{book_value:,}")
#print("{:,}".format(book_value))
print(balance_sheet["totalAssets"]["2017-11-03"])
book_value = balance_sheet["totalAssets"] - balance_sheet["totalLiabilities"]
print(book_value)

<class 'pandas.core.frame.DataFrame'>
375319000000
2020-10-30     65339000000
2019-10-31     90488000000
2018-11-05    107147000000
2017-11-03    134047000000
dtype: object

In [60]:
symbols = get_symbols(token=my_token)
symbols

,symbol,exchange,exchangeSuffix,exchangeName,name,date,type,iexId,region,currency,isEnabled,figi,cik,lei
0,A,NYS,UN,"NEW YORK STOCK EXCHANGE, INC.",Agilent Technologies Inc.,2021-01-28,cs,IEX_46574843354B2D52,US,USD,True,BBG000C2V3D6,0001090872,QUIX8Y7A2WP0XRMW7G29
1,AA,NYS,UN,"NEW YORK STOCK EXCHANGE, INC.",Alcoa Corp,2021-01-28,cs,IEX_4238333734532D52,US,USD,True,BBG00B3T3HD3,0001675149,549300T12EZ1F6PWWU29
2,AAA,USPAC,UP,NYSE ARCA,Listed Funds Trust - AAF First Priority CLO Bo...,2021-01-28,et,IEX_5030314338392D52,US,USD,True,BBG00X5FSP48,0001683471,None
3,AAAU,USPAC,UP,NYSE ARCA,Goldman Sachs Physical Gold ETF Shares - Goldm...,2021-01-28,et,IEX_474B433136332D52,US,USD,True,BBG00LPXX872,0001708646,None
4,AACG,NAS,,NASDAQ/NMS (GLOBAL MARKET),ATA Creativity Global - ADR,2021-01-28,ad,IEX_44595A4C53392D52,US,USD,True,BBG000V2S3P6,0001420529,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9610,ZUO,NYS,UN,"NEW YORK STOCK EXCHANGE, INC.",Zuora Inc - Class A,2021-01-28,cs,IEX_4D474631525A2D52,US,USD,True,BBG000BT3HG5,0001423774,549300ISVGC1YZWQJ420
9611,ZVO,NAS,,NASDAQ/NGS (GLOBAL SELECT MARKET),Zovio Inc,2021-01-28,cs,IEX_514A435352362D52,US,USD,True,BBG000C3CQP1,0001305323,None
9612,ZYME,NYS,UN,"NEW YORK STOCK EXCHANGE, INC.",Zymeworks Inc,2021-01-28,cs,IEX_5253315838322D52,US,USD,True,BBG00GD15LJ5,0001403752,894500AHOYAGYLYZJL67
9613,ZYNE,NAS,,NASDAQ/NMS (GLOBAL MARKET),Zynerba Pharmaceuticals Inc,2021-01-28,cs,IEX_4E3154424A382D52,US,USD,True,BBG007BBS8B7,0001621443,549300JLJ5VQU2CN6016
9614,ZYXI,NAS,,NASDAQ CAPITAL MARKET,Zynex Inc,2021-01-28,cs,IEX_4E464C4C4A462D52,US,USD,True,BBG000BJBXZ2,0000846475,None

In [62]:
x = symbols.groupby(["type"]).sum()
x

        isEnabled
type
ad            439
cs           5280
et           2336
ps            747
struct        121
wt            405